.aside {
    width: 50%;
    height: 100vh;
    border: 1px solid $borderA;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    background-color: white;
    position: fixed;
    z-index: 3;


    .asideInfo {
        width: 100%;
        height: 170px;
        padding: 5px;

        .asideInfo__profilePicture {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $borderA;

        }

    }

    .list {
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .list--link {
            height: 70px;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 8px;
            text-decoration: none;
            color: black;

            &:hover {
                border-bottom: 1px solid $borderA;

            }

            img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }

        }

    }

    .asideLogout {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;

        &:hover {
            border-bottom: 1px solid $borderA;

        }

        .asideLogout__img {
            width: 30px;
        }
    }
}

.desktop--aside {
    display: none;


}

@media (min-width: 650px) {
    .aside {
        width: 100%;
        position: static;
        min-height: 80vh;
        position: sticky;

    }

    .desktop--aside {
        display: block;
        width: 25%;

    }


}